
.searchComponent{
    width: 100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;

}
.searchInput {
    border:1px solid whitesmoke;
    background: none;
    outline:whitesmoke;
    float:left;
    padding: 0;
    color: white;
    font-size: x-small;
    transition: 0.4s;
    line-height: 40px;
    width: 90%;
    border-radius: 10px;
    
   
    

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
    font-size: x-small;
  }
  .infoInput{
      color: white;
      font-size: xx-large;
      display: flex;
      justify-content: center;
  }
  .infoInput:hover{
    background-color: yellow;
      
}