.App {
  width: 100%;
  background-color: black;
  min-height: 100vh;
 margin: 0px;
 display: flex;
 flex-direction: column;
}
.main_header{
  width: 100%;
  text-align: center;
  height:  fit-content;
  font-size: x-large;
  color: #ffffff;
  padding: 2%;
}
