.App {
  background-color: black;
  height:100vh;
 margin: 0px;
 text-align: center;
 width: 100%;

}
.main_header{
  width: 100%;
  text-align: center;
  height:  20px;
  font-size: x-large;
  color: #ffffff;
  margin: 2%;

}
.tweetHeader{
  font-size: larger;
  color: white;
  display: flex;
  justify-content :flex-start ;
  flex-direction: row;

}
