.App {
  background-color: black;
  margin: 0 auto;
  display: block;

}
.main_header{
  width: 100%;
  height:  fit-content;
  font-size: medium;
  color: #ffffff;
  display: flex;
  justify-content: center;
padding-top: 1%;
padding-bottom: 1%;
}
.tweetHeader{
  width: 100%;
  height:  fit-content;
  font-size: medium;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 2%;

}
